<form method="POST" action="/login">
  <input type="text" name="name" id="name" placeholder="Username"><br>
  <input type="password" name="password" id="password" placeholder="Password"><br>
  <input type="submit" name="login" id="submit" value="login">
</form>