<form method="POST" action="users/signup">
  <input type="text" name="email" id="email" placeholder="E-mail"><br>
  <input type="text" name="username" id="username" placeholder="Create Username"><br>
  <input type="text" name="password" id="password" placeholder="Create Password"><br>
  <input type="submit" id="submit" value="Signup">
</form>