<h2> Welcome to Game Reviews!
<p>Please sign up or sign in:</p>
<nav>
  <% if logged_in? %>
    <a href="/games/new"> Create Game </a>
    <a href="/logout"> Log Out </a>
    <p>Welcome, <%=current_user.username %></p>
  <% else %>
    <a href="/signup">Sign Up</a>
    <a href="/login"> Sign In </a>
  <%end %>
</nav>
